.grid-x.grid-padding-x
  .medium-7.cell.content
    = form_tag properties_path, method: :get do
      = label_tag 'post_code', 'Find a property by postcode', class: 'h4'
      .input-group
        = text_field_tag :post_code, '', class: 'input-group-field', placeholder: 'Enter postcode...'
        .input-group-button
          = button_tag 'Find', class: 'button', type: :submit

    - if defined?(@properties)
      - if @properties.present?
        %h4
          List of properties for
          = params[:post_code]

        %ul.list-group
          - @properties.each do |property|
            %li.list-group-item
              = link_to property.address, property_path(property.property_reference)
      - else
        %p No properties found

  .medium-5.cell.side-info
    - if defined?(@properties) && @properties.present?
      = render partial: 'estate_info'
