.grid-x.grid-padding-x
  .medium-7.cell.content
    %h2
      = @property.address
      = @property.postcode

    %ul.list-group
      - @residents.each do |resident|
        %li.list-group-item
          = link_to resident.name, property_repairs_path(@property.propertyReference, resident: resident.residentReference)


      - if @residents.blank?
        No residents found

    = link_to "The resident is not on the list", property_repairs_path(@property.propertyReference)

  .medium-5.cell.side-info
    = render partial: 'dwelling_info'
    = render partial: 'estate_info'
