- if @property.floor
  = "#{@property.floor}#{@property.floor.ordinal} floor"
= pluralize @property.residents, 'resident'
= @property.heating
= pluralize @property.toilets, 'toilet'
= pluralize @property.bathrooms, 'bathroom'

- @repairs.each do |repair|
  = repair.problemDescription
  = link_to repair.repairRequestReference, property_repair_path(@property.propertyReference, repair.repairRequestReference)
  = repair.priority
