%header
  .grid-x.grid-margin-x.header-summary
    .cell.medium-4
      %p
        %strong
          Property address
        %span.list-item
          = @property.address

        %span.list-item
          = @property.postcode

    .cell.medium-8
      %strong
        Resident information
      .grid-x
        .cell.medium-6
          %span.list-item
            = @repair.contactName
          %span.list-item
            = @repair.contactPhone
        .cell.medium-6
          %span.list-item
            Cautionary contact

%nav.grid-x.grid-margin-x#sub-nav
  %ul.cell.menu.expanded
    %li
      = link_to "Raise a repair", " "
    %li.is-active
      = link_to "Dwelling repairs", " "
    %li
      = link_to "Block repairs", " "
    %li
      = link_to "Estate repairs", " "
    %li
      = link_to "Tenant's Information", " "

.grid-x.grid-margin-x.repairs-list-view.property-summary
  .cell.medium-8
    %p
      %strong
        Dwelling overview
    .property-summary
      - if @property.floor
        %span
          = "#{@property.floor}#{@property.floor.ordinal} floor"

      %span
        = pluralize @property.residents, 'resident'
      %span
        = @property.heating
      %span
        = pluralize @property.toilets, 'toilet'
      %span
        = pluralize @property.bathrooms, 'bathroom'

  .cell.medium-4
    %br
    = link_to "Raise a repair for this dwelling", new_property_repair_path(property: @property), :class=>"button"

.grid-x.grid-padding-x.mini-nav
  .nav
    .ul.breadcrumbs
      %li
        = link_to "Dwelling repairs history"
      %li
        = "Repair details (#{@repair.repairRequestReference})"

.grid-x.grid-padding-x.repair-details-page
  .cell
    -# Repair request card
    %h6
      Repair request
    -# The card top border color will change based on class // { class: status-progress, status-complete, status-cancelled }
    .repair.card.status-progress
      .card-section
        .grid-x
          .cell
            %span.leading-number
              = @repair.repairRequestReference
            %span.priority
              = @repair.priority_text
            %span.date
              Created 3 days ago, 20 Jun
            - @repair.trades.each do |trade|
              %span.trade.float-right
                = trade
            %hr.tight
        .grid-x.grid-margin-x
          .cell.medium-8
            %p.repair-description
              = @repair.problemDescription
            .cell
              -# Repair request status based on completion of tasks in the work order
              %span.status-text.list-item
                Tasks awaiting completion
              -# Summary of status for tasks
              %span.status-breakdown.list-item
                1 task in progress, 2 tasks completed
          .cell.medium-4
            %span.tenant-info.list-item
              Reported by Sandra Tenant
            %span.list-item
              tel: 07446788345
            %br
            %span.agent-info.list-item
              Raised by Tom Jerry
            %span.list-item
              tom.jerry@hackney.gov.uk
        .grid-x.grid-margin-x


    - @repair.workOrders.each.with_index do |work_order, index|
      %h6
        Repair work order
        = index + 1
        of
        = @repair.workOrders.count
      -# The card top border color will change based on class // { class: status-progress, status-complete, status-cancelled }
      .repair.card.status-progress
        .card-section
          .grid-x
            .cell
              %span.leading-number
                = work_order.workOrderReference
              - work_order.trades.each do |trade|
                %span.trade.float-right
                  = trade
              %span{class: "status-text-#{work_order.progress_class_name}"}
                = work_order.status
              %span
                - if work_order.in_progress?
                  expected completion on
                - else
                  on
              %span.date
                - if work_order.in_progress?
                  = work_order.expectedCompletion.to_s(:short)
                - elsif work_order.completed?
                  = work_order.attendedDate.to_s(:short)
                - elsif work_order.cancelled?
                  = work_order.cancelledDate.to_s(:short)
              %hr.tight
          .grid-x.grid-margin-x
            .cell.medium-8
              - if work_order.completed?
                %span.list-item
                  Attended by:
                  = work_order.attendedBy
                  on
                  = work_order.attendedDate.to_s(:short)
                %span.description
                  = work_order.outcome
            .cell.medium-4
              %span.supplier.list-item
                = work_order.supplierReference
              %span.list-item
                tel: 07446788345
              %span.list-item
                Estimated cost:
                = number_to_currency work_order.estimatedCost
          -# Show notes and tasks
          .grid-x.grid-padding-x.card-split-heading
            .cell.medium-6.card-half
              .h6
                Notes
            .cell.medium-6.card-half
              .h6
                Tasks
          .grid-x.grid-padding-x.card-split-content
            -# NOTES
            .cell.medium-6.card-half
              -# For each note in notes show DESC
              .note
                %span.list-item.note-helptext
                  21 June 2018 by Sammy Wonder
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

              .note
                %span.list-item.note-helptext
                  25 May 2018 by Gerard of Rivia
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            - work_order.tasks.each do |task|
              .cell.medium-6.card-half.no-pad
                .task.task-completed
                  .grid-x
                    .cell
                      SOR:
                      %span.leading-number
                        = task.sorCode
                      %span{class: "status-text-#{task.progress_class_name}"}
                        - if task.completed?
                          Completed on
                          = task.completedDate.to_s(:short)
                        - elsif task.cancelled?
                        - else
                          Due
                          = task.dueDate.to_s(:short)
                      %span.trade-sm.float-right
                        = task.trade

                    .cell
                      %span
                        = task.supplierReference
                      %span
                        Estimated Cost:
                        = number_to_currency task.estimatedCost
                    .cell
                      %p
                        = task.description
